.additionally__title {
  position: relative;
  margin-top: 0;
  text-transform: capitalize;
  margin-bottom: 34px;
  width: 141px;
  word-wrap: break-word;

  &::before {
    position: absolute;
    content: "";
    width: 139px;
    height: 2px;
    top: 21px;
    transform: translateY(-50%);
    right: -159px;
    background-color: $base-color;
  }

  @media (min-width: $table-width) {
    margin-bottom: 68px;
    width: 215px;
    word-wrap: break-word;


    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      top: 23px;
      transform: translateY(-50%);
      left: -70px;
      background-color: $base-color;
    }

    &::before {
      position: absolute;
      content: "";
      width: 446px;
      height: 2px;
      top: 23px;
      transform: translateY(-50%);
      right: -483px;
      background-color: $base-color;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
    width: 215px;
    word-wrap: break-word;

    &::after {
      position: absolute;
      content: "";
      width: 70px;
      height: 2px;
      top: 23px;
      transform: translateY(-50%);
      left: -110px;
      background-color: $base-color;
    }

    &::before {
      position: absolute;
      content: "";
      width: 1078px;
      height: 2px;
      top: 24px;
      transform: translateY(-50%);
      right: -1115px;
      background-color: $base-color;
    }
  }
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;

  @media (min-width: $table-width) {
    display: grid;
    grid-template-columns: 221px 221px;
    column-gap: 123px;
    row-gap: 30px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 0;
    margin-bottom: 47px;
  }
}

.additionally__item {
  margin-bottom: 25px;

  &:last-child {
    margin-top: -2px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 104px;

    &:nth-child(2) {
      margin-right: 137px;
    }

    &:nth-child(3) {
      margin-right: 199px;
    }


    &:last-child {
      margin-top: 0;
      margin-right: 0;
    }
  }
}

.additionally__must-completed {
  display: block;
  color: $standard-black;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  word-spacing: 0.2px;

  @media (min-width: $table-width) {
    position: relative;
    top: -6px;
    left: -5px;
    display: inline;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -4px;
    left: -1px;
    display: inline;
    font-size: 16px;
  }
}

.additionally__submit-form {
  display: block;
  margin: 0 auto;
  margin-bottom: 22px;
  min-width: 280px;
  padding: 10px 44px;
  cursor: pointer;

  @media (min-width: $table-width) {
    display: inline-block;
    margin: 0;
    min-width: 284px;
    padding: 14px 45px;
    margin-right: 64px;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0;
    min-width: 570px;
    margin-right: 80px;
    font-size: 20px;
  }
}

.additionally__name-additionally {
  padding-left: 45px;

  @media (min-width: $table-width) {
    padding-left: 60px;
  }
}

.additionally__options-control {
  position: relative;
  cursor: pointer;

  &:active {
    opacity: 0.3;
    border-color: $silver;
  }
}

.additionally__control-mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 28px;
  height: 28px;
  background-color: $standard-white;
  border: 1px solid $light-grey;
  cursor: pointer;

  &:hover {
    border-color: $silver;
  }

  @media (min-width: $table-width) {
    width: 38px;
    height: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 38px;
    height: 38px;
  }
}

.control-input[type="checkbox"]:checked + .additionally__control-mark::before {
  position: absolute;
  content: "";
  background-image: url("../img/tick-catalog-add-mobile.svg");
  height: 26px;
  width: 26px;
  left: 54%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $table-width) {
    background-image: url("../img/tick-catalog-add.svg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/tick-catalog-add.svg");
  }
}
