.additionally__title {
  margin-top: 0;
  text-transform: capitalize;
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 41px;
}

.additionally__must-completed {
  color: #000000;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
}

.additionally__submit-form {
  padding: 7px 105px;
}
