.comments__title {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 38px;

  @media (min-width: $table-width) {
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.comments__textarea {
  width: 274px;
  height: 144px;

  @media (min-width: $table-width) {
    width: 100%;
    height: 175px;
  }

  @media (min-width: $desktop-width) {
    width: 1214px;
    height: 168px;
  }
}
