.contact-details__title {
  margin-top: 0;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 35px;
}

.pet-data__contact-details {
  margin-bottom: 24px;
}

.contact-details__control {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}
