.contact-details__title {
  position: relative;
  margin-top: 0;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 35px;

  &::before {
    position: absolute;
    content: "";
    width: 4000px;
    height: 2px;
    top: 16px;
    right: -3926px;
    background-color: $base-color;
  }

  @media (min-width: $table-width) {
    margin-bottom: 81px;

    &::after {
      position: absolute;
      content: "";
      width: 4000px;
      height: 2px;
      top: 18px;
      transform: translateY(-50%);
      left: -4040px;
      background-color: $base-color;
    }

    &::before {
      position: absolute;
      content: "";
      width: 4000px;
      height: 2px;
      top: 18px;
      transform: translateY(-50%);
      right: -3925px;
      background-color: $base-color;
    }
  }

  @media (min-width: $desktop-width) {
    width: 512px;
    margin-bottom: 76px;
    text-transform: inherit;

    &::after {
      position: absolute;
      content: "";
      width: 4000px;
      height: 2px;
      top: 18px;
      transform: translateY(-50%);
      left: -4040px;
      background-color: $base-color;
    }

    &::before {
      position: absolute;
      content: "";
      width: 4000px;
      height: 2px;
      top: 18px;
      transform: translateY(-50%);
      right: -4040px;
      background-color: $base-color;
    }
  }
}

.contact-details__control {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $table-width) {
    margin-bottom: 20px;
  }
}

.contact-details__control-input {
  position: relative;
  min-width: 217px;
  box-sizing: border-box;
  padding: 14px 36px 13px 15px;
  padding-right: 36px;

  &--email {
    min-width: 217px;
    background-image: url("../img/icons-form-images/icon-email.svg");
    background-repeat: no-repeat;
    background-position: right 11px center;

    &:focus {
      background-image: url("../img/icons-form-images/icon-email-focus.svg");
    }
  }

  &--phone-number {
    min-width: 200px;
    background-image: url("../img/icons-form-images/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;

    &:focus {
      background-image: url("../img/icons-form-images/icon-phone-focus.svg");
    }
  }

  @media (min-width: $table-width) {
    padding: 11px 40px 11px 20px;

    &--email {
      min-width: 552px;
      max-height: 52px;
    }

    &--phone-number {
      min-width: 530px;
      max-height: 52px;
    }
  }

  @media (min-width: $desktop-width) {
    &--email {
      top: 5px;
      left: -1px;
      min-width: 494px;
      background-position: right 15px center;
    }

    &--phone-number {
      top: 5px;
      left: 0;
      min-width: 472px;
      background-position: right 15px center;
    }
  }
}

.contact-details__control-input--email:invalid {
  background-image: url("../img/icons-form-images/icon-email-error.svg");
}

.contact-details__control-input--phone-number:invalid {
  background-image: url("../img/icons-form-images/icon-phone-error.svg");
}
