.form-accessibility {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.form-accessibility__name-input {
  margin-right: 13px;
}
