.pet-data__title {
  text-align: start;
  margin-top: 0;

  @media (min-width: $table-width) {
    text-align: start;
    margin-top: 0;
    margin-bottom: 54px;
  }
}

.pet-data__description {
  text-transform: uppercase;

  @media (min-width: $table-width) {
    max-width: 323px;
    color: $standard-black;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 30px;
  }
}

.pet-data__list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 46px;

  &::after {
    position: absolute;
    content: "";
    bottom: -24px;
    width: 100%;
    height: 1px;
    background-color: $gainsboro-color;
  }

  @media (min-width: $table-width) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.pet-data__item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.pet-data__options-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 45px;

  &::after {
    position: absolute;
    content: "";
    bottom: -19px;
    width: 100%;
    height: 1px;
    background-color: $gainsboro-color;
  }

  @media (min-width: $table-width) {
    border: 1px solid #e7e7e7;
    padding: 25px;
    margin-bottom: 71px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
    min-height: 200px;
    margin-bottom: 0;
    box-sizing: border-box;
  }
}

.pet-data__options-item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.pet-data__comments {
  margin-bottom: 23px;

  @media (min-width: $table-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.pet-data__additionally {
  margin-bottom: 32px;

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.pet-data__contact-details {
  margin-bottom: 24px;

  @media (min-width: $table-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

@media (min-width: $desktop-width) {
  .pet-date__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 69px;
  }

  .contact-details__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
