.pet-data__title {
  text-align: start;
  margin-top: 22px;
  margin-bottom: 35px;

  @media (min-width: $table-width) {
    text-align: start;
    margin-top: 0;
    margin-bottom: 54px;
  }
}

.pet-data__description {
  text-transform: uppercase;
  color: $standard-black;
  font-family: "Oswald", sans-serif;
  max-width: 273px;
  word-spacing: 0.2px;
  margin-bottom: 39px;

  @media (min-width: $table-width) {
    max-width: 323px;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 0.6px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 66px;
  }
}

.pet-data__list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 52px;

  &::after {
    position: absolute;
    content: "";
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 1px;
    background-color: $gainsboro-color;
  }

  @media (min-width: $table-width) {
    margin-bottom: 72px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 570px;
  }
}

.pet-data__item {
  margin-bottom: 14px;

  @media (min-width: $table-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.pet-data__options-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 51px;

  &::after {
    position: absolute;
    content: "";
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 1px;
    background-color: $gainsboro-color;
  }

  @media (min-width: $table-width) {
    border: 1px solid $whisper;
    padding: 25px;
    margin-bottom: 70px;
    min-height: 196px;
    box-sizing: border-box;
    padding-top: 33px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    top: 1px;
    left: -1px;
    min-width: 568px;
    min-height: 196px;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 25px 28px 29px 28px;
  }
}

.pet-data__options-item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 60px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $table-width) {
    padding-left: 60px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    margin-bottom: 40px;

    &:nth-child(1) {
      top: 9px;
      left: -2px;
    }

    &:nth-child(2) {
      top: 4px;
      left: -2px;
    }

    &:nth-child(3) {
      top: -1px;
      left: -2px;
    }
  }
}

.pet-data__comments {
  margin-bottom: 14px;

  @media (min-width: $table-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.pet-data__additionally {
  margin-bottom: 32px;

  @media (min-width: $table-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.pet-data__contact-details {
  margin-bottom: 19px;

  @media (min-width: $table-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.pet-data__options-control {
  position: relative;
  cursor: pointer;

  &:active {
    opacity: 0.3;
    border-color: $silver;
  }
}

.pet-data__program-item {
  margin-left: -15px;

  @media (min-width: $table-width) {
    margin-left: 1px;
  }
}

.pet-data__control-mark {
  position: absolute;
  top: -6px;
  left: -60px;
  width: 28px;
  height: 28px;
  background-color: $standard-white;
  border-radius: 4px;
  border: 1px solid $light-grey;
  cursor: pointer;

  &:hover {
    border-color: $silver;
  }

  @media (min-width: $table-width) {
    top: -11px;
    left: -59px;
    width: 38px;
    height: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 38px;
    height: 38px;
  }
}

.pet-data__control-input[type="radio"] + .pet-data__control-mark {
  border-radius: 50%;
}

.pet-data__control-input[type="radio"]:focus-visible + .pet-data__control-mark {
  outline: $focus;
}

.pet-data__control-input[type="radio"]:checked + .pet-data__control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: $base-color;
  border-radius: 50%;
  content: "";

  @media (min-width: $table-width) {
    width: 18px;
    height: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 18px;
    height: 18px;
  }
}

.pet-data__input-data {
  position: relative;
  padding: 14px 15px 13px 15px;
  box-sizing: border-box;

  &--name {
    min-width: 228px;
  }

  &--weight {
    min-width: 207px;
  }

  &--age {
    min-width: 173px;
  }

  @media (min-width: $table-width) {
    padding: 11px 20px;

    &--name {
      min-width: 568px;
    }

    &--weight {
      min-width: 540px;
    }

    &--age {
      min-width: 498px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 11px 20px;

    &--name {
      top: 1px;
      min-width: 510px;
    }

    &--weight {
      top: 7px;
      left: 1px;
      min-width: 482px;
    }

    &--age {
      top: 13px;
      left: 1px;
      min-width: 440px;
    }
  }
}

@media (min-width: $desktop-width) {
  .pet-data__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
  }
}
