// Colors
$base-color: #68b738;
$button-hover: #5eaa2f;
$card-color: #f2f2f2;
$standard-black: #000000;
$standard-white: #ffffff;
$charcoal-color: #444444;
$gainsboro-color: #d9d9d9;
$nero-color: #222222;
$shade-black: #111111;
$apple-color: rgba(104, 183, 56, 0.85);
$light-grey: #cdcdcd;
$decoration-color: #ebebeb;
$whisper: #e7e7e7;
$light-coral: #ff8282;
$silver: #bababa;
$focus: 1px solid #000000;
$dim-gray: #666666;

// Media
$table-width: 768px;
$desktop-width: 1440px;
