$base-color: #68b738;
$card-color: #f2f2f2;
$standard-black: #000000;
$standard-white: #ffffff;
$charcoal-color: #444444;
$gainsboro-color: #d9d9d9;
$nero-color: #222222;
$shade-black: #111111;
$apple-color: rgba(104, 183, 56, 0.85);
