.body__main-footer {
  max-width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $table-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 708px;
    padding: 61.5px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 66px 110px;
  }
}
