.button {
  display: inline-block;
  padding: 10px 0;
  background-color: $base-color;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--secondary {
    color: $charcoal-color;
    background-color: $card-color;
    padding: 10px 0;

    &:active {
      color: $charcoal-color;
      opacity: 0.3;
    }
  }

  @media (min-width: $table-width) {
    font-size: 16px;
    line-height: 20px;

    &:hover {
      background-color: $button-hover;
    }

    &:focus-visible {
      outline: 2px solid $standard-black;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &--secondary {
      color: $charcoal-color;
      background-color: $card-color;
      padding: 10px 0;

      &:hover {
        background-color: #ebebeb;
      }

      &:focus-visible {
        outline: 2px solid $standard-black;
      }

      &:active {
        color: $charcoal-color;
        opacity: 0.3;
      }
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;

    &:hover {
      background-color: $button-hover;
    }

    &:focus-visible {
      outline: 2px solid $standard-black;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &--secondary {
      color: $charcoal-color;
      background-color: $card-color;
      padding: 10px 0;

      &:hover {
        background-color: #ebebeb;
      }

      &:focus-visible {
        outline: 2px solid $standard-black;
      }

      &:active {
        color: $charcoal-color;
        opacity: 0.3;
      }
    }
  }
}
