.container {
  padding: 0 20px;
}

@media (min-width: $table-width) {
  .container {
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: $desctop-width) {
  .container {
    padding: 0 110px;
    margin: 0 auto;
  }
}
