.location {
  background-color: $card-color;

  &--secondary {
    background-color: $standard-white;
  }
}

.location__title {
  color: $shade-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 148px;
}

.location__company-address {
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 20px;
  width: 140px;
}

.location__text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px;
  width: 280px;
}

.location__wrapper-map {
  overflow: hidden;
  // padding-bottom: 56.25%;
  position: relative;
  height: 362px;
  width: 320px;
}

.location__map {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (min-width: $table-width) {
  .location__wrapper-map {
    width: 768px;
    height: 400px;
  }

  .location__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px;
    width: 625px;
  }
}
