.main-container__proof {
  background-color: #eaeaea;
}

.main-container__nutrition-program {
  margin-bottom: 20px;
}

.main-container__hero {
  position: relative;
  padding: 27px 35px 10px 35px;
  z-index: 1;
  margin-bottom: 198px;
  max-height: 302px;
}

.main-container__about-properties {
  margin-bottom: 49px;
}

.main-container__additional-goods {
  margin-bottom: 35px;
}

@media (min-width: $table-width) {
  .main-container__hero {
    padding: 0 30px;
  }
}

@media (min-width: $desctop-width) {
  .main-container__hero {
    width: 1210px;
    margin: 0 auto;
    padding: 100px 0 187px 120px;
  }
}
