.main-header {
  background-color: #ffffff;
  padding: 13px 20px 14px 20px;
}

.body__main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-list--hidden {
  display: none;
}
