.site-list {
  font-size: 20px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.site-list__item {
  margin-bottom: 46px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    transform: translateY(-22px);
    height: 1px;
    background-color: #d9d9d9;
  }
}
