.site-list {
  font-size: 20px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.site-list__link {
  display: block;
  text-decoration: none;
  color: $standard-black;
}

.site-list--hidden {
  display: none;
}

.site-list__item {
  margin-bottom: 46px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    transform: translateY(-22px);
    height: 1px;
    background-color: $gainsboro-color;
  }
}

@media (min-width: $table-width) {
  .site-list__item {
    margin-right: 28px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      display: none;
    }
  }

  .site-list {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 24px;
  }

  .site-list__link {
    padding: 5px;
  }

  .site-list__link-current {
    text-decoration: underline;
    text-decoration-color: $base-color;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }
}

@media (min-width: $desctop-width) {
  .site-list__link-current {
    text-decoration: underline;
    text-decoration-color: $standard-white;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }

  .site-list__link {
    color: $standard-white;
  }
}
