.additional-goods__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 42px;
  text-transform: none;

  &::before {
    position: absolute;
    content: "";
    width: 54px;
    height: 2px;
    top: 58%;
    transform: translateY(-50%);
    right: -20px;
    background-color: $base-color;
  }

  @media (min-width: $table-width) {
    text-transform: none;
    margin-bottom: 81px;
    margin-left: 40px;

    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      top: 58%;
      transform: translateY(-50%);
      left: -70px;
      background-color: $base-color;
    }

    &::before {
      position: absolute;
      content: "";
      width: 320px;
      height: 2px;
      top: 58%;
      transform: translateY(-50%);
      right: -30px;
      background-color: $base-color;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 96px;
    text-transform: inherit;

    &::after {
      position: absolute;
      content: "";
      width: 70px;
      height: 2px;
      top: 65%;
      transform: translateY(-50%);
      left: -110px;
      background-color: $base-color;
    }

    &::before {
      position: absolute;
      content: "";
      width: 952px;
      height: 2px;
      top: 65%;
      transform: translateY(-50%);
      right: -110px;
      background-color: $base-color;
    }
  }
}

.additional-goods__list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 54px;

  &::after {
    position: absolute;
    content: "";
    bottom: -19px;
    width: 100%;
    height: 1px;
    background-color: $gainsboro-color;
  }

  @media (min-width: $table-width) {
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    top: 1px;
    width: 895px;

    &::after {
      display: block;
      bottom: -18px;
    }
  }
}

.additional-goods__item {
  position: relative;
  margin-bottom: 31px;

  &::before {
    position: absolute;
    content: "";
    top: -13px;
    width: 100%;
    height: 1px;
    background-color: $gainsboro-color;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $table-width) {
    &::before {
      width: 708px;
      left: 50%;
      transform: translateX(-50%);
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &:nth-child(2) {
      &::before {
        top: -19px;
      }
    }

    &:nth-child(3) {
      &::before {
        top: -9px;
      }
    }

    &:nth-child(4) {
      &::before {
        top: -1px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 34px;

    &:first-child {
      &::before {
        display: block;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      top: -18px;
      width: 100%;
    }
  }
}

.additional-goods__wrapper-options {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 15px;

  &--first-child {
    margin-left: 3px;
  }

  &--second-child {
    max-width: 279px;
  }

  &--fourth-child {
    margin-left: 1px;
  }

  @media (min-width: $table-width) {
    position: relative;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 23px;

    &--first-child {
      top: -16.5px;
      left: -3px;
    }

    &--second-child {
      top: -7px;
      left: -1px;
      column-gap: 10px;
    }

    &--third-child {
      top: 1px;
      left: -1px;
      column-gap: 1px;
    }

    &--fourth-child {
      top: 11px;
      left: 0;
      column-gap: 4px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-goods__name-product {
  position: relative;
  margin-top: 0;
  margin-bottom: 13px;
  color: $nero-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  &--third-child {
    margin-bottom: 14px;
  }

  &--fourth-child {
    margin-bottom: 14px;
  }

  @media (min-width: $table-width) {
    top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;

    &--first-child {
      top: -1px;
      left: 2px;
    }

    &--second-child {
      top: 8px;
      left: 1px;
    }

    &--third-child {
      top: 18px;
      left: 1px;
    }

    &--fourth-child {
      top: 26px;
      left: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    top: -2px;
    left: 1px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.additional-goods__order-button {
  display: block;

  @media (min-width: $table-width) {
    position: relative;

    &--first-child {
      left: 1px;
      top: -15px;
    }

    &--second-child {
      left: 1px;
      top: -5px;
    }

    &--third-child {
      left: 1px;
      top: 3px;
    }

    &--fourth-child {
      left: 1px;
      top: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    min-width: 244px;
    padding: 9px 26px;
    display: inline-block;
    box-sizing: border-box;
  }
}

@media (min-width: $table-width) {
  .additional-goods__container {
    margin-bottom: 69px;
    border: 1px solid #cdcdcd;
    padding: 26px 38px 28px 38px;
    box-sizing: border-box;
    min-height: 556px;
  }

  .additional-goods__options {
    margin-right: 49px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__container {
    margin-bottom: 0;
    border: none;
    padding: 0;
    min-height: 288px;
  }

  .additional-goods__interaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .additional-goods__options {
    margin-right: 0;
  }
}
