.catalog-food {
  padding-top: 20px;
}

.catalog-food__title {
  margin-top: 0;
}

.catalog-food__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-food__item {
  position: relative;
  margin-bottom: 44px;

  &::before {
    position: absolute;
    content: "";
    top: -19px;
    left: 50%;
    width: 320px;
    transform: translateX(-50%);
    height: 1px;
    background-color: $gainsboro-color;
  }

  &:last-child {
    margin-bottom: 50px;
  }
}

.catalog-food__item--secondary {
  display: flex;
  flex-direction: column;
  padding-top: 53px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: top center;

  &::after {
    position: absolute;
    content: "";
    bottom: -30px;
    width: 320px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: $gainsboro-color;
  }
}

.catalog-food__card-images {
  display: block;
}

.catalog-foot__order-link {
  text-decoration: none;
}

.catalog-food__name-food {
  margin-top: 0;
  max-width: 76px;
}

.name-food {
  color: $nero-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-food__order-button {
  display: block;
  padding: 10px 0;
}

.catalog-food__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
  padding-left: 28px;
}

.catalog-food__options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 140px;
}

.catalog-food__show-all {
  color: $shade-black;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-food__dignity {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog-food__wrapper-options {
  display: flex;
  justify-content: space-between;
}
