.catalog-food {
  padding-top: 20px;
}

.catalog-food__title {
  margin-top: 0;

  @media (min-width: $table-width) {
    margin-top: 64px;
    margin-bottom: 163px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
  }
}

.catalog-food__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $table-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    row-gap: 141px;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    row-gap: 143px;
    column-gap: 80px;
  }
}

.catalog-food__item {
  position: relative;
  margin-bottom: 44px;

  &::before {
    position: absolute;
    content: "";
    top: -19px;
    left: 50%;
    width: 320px;
    transform: translateX(-50%);
    height: 1px;
    background-color: $decoration-color;
  }

  &:last-child {
    margin-bottom: 50px;
  }

  &--secondary {
    display: flex;
    flex-direction: column;
    padding-top: 53px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: top center;

    &::after {
      position: absolute;
      content: "";
      bottom: -30px;
      width: 320px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      background-color: $gainsboro-color;
    }
  }

  @media (min-width: $table-width) {
    position: relative;
    margin-bottom: 0;
    min-height: 430px;
    padding-left: 36px;
    padding-right: 36px;
    box-sizing: border-box;
    background-color: $card-color;

    &::before {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: 0;
    min-height: 431px;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 36px;
    box-sizing: border-box;
    background-color: $card-color;

    &::before {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.catalog-foot__order-link {
  text-decoration: none;

  @media (min-width: $table-width) {
    position: relative;
    text-decoration: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &--odd {
      top: -50px;
    }

    &--even {
      top: -79px;
    }
  }
}

.catalog-food__name-food {
  margin-top: 0;
  max-width: 90px;

  @media (min-width: $table-width) {
    max-width: 150px;
    text-align: center;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 11px;
    margin-bottom: 23px;
    text-align: center;

    &--odd {
      margin-top: -7px;
    }

    &--even {
      margin-top: -31px;
    }
  }
}

.catalog-food__order-button {
  display: block;
  padding: 10px 0;

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-food__item-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  padding-left: 28px;

  @media (min-width: $table-width) {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 33px;
  }
}

.catalog-food__options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 140px;

  @media (min-width: $table-width) {
    margin-bottom: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
    width: 100%;

    &--first-child {
      margin-left: 1px;
    }

    &--second-child {
      margin-left: 3px;
    }

    &--third-child {
      margin-top: -1px;
      margin-left: 1px;
    }

    &--fourth-child {
      margin-left: 1px;
    }

    &--fifth-child {
      margin-top: 1px;
      margin-left: 1px;
    }

    &--sixth-child {
      margin-left: 1px;
    }

    &--seventh-child {
      margin-top: -2px;
      margin-left: 1px;
    }
  }
}

.catalog-food__button-show {
  min-width: 169px;
  box-sizing: border-box;
}

.catalog-food__show-all {
  color: $shade-black;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    width: 150px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
  }
}

.catalog-food__dignity {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $table-width) {
    width: 165px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.catalog-food__wrapper-options {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (min-width: $table-width) {
    width: 248px;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      content: "";
      width: 250px;
      height: 1px;
      bottom: -9px;
      left: 0;
      background-color: $light-grey;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 165px;
    margin-bottom: 16px;

    &--even {
      max-width: 170px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      content: "";
      width: 169px;
      height: 1px;
      bottom: -10px;
      left: 0;
      background-color: $light-grey;
    }
  }
}

.catalog-food__card-images {
  display: block;

  @media (min-width: $table-width) {
    position: relative;
    width: auto;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: auto;
    height: auto;
  }
}

@media (min-width: $table-width) {
  .catalog-food__item--secondary {
    display: flex;
    flex-direction: column;
    padding-top: 161px;
    background-image: url("../img/plus-images/plus-table.svg");
    background-repeat: no-repeat;
    background-position: top 52px center;
    background-color: $standard-white;
    border: 2px solid $card-color;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-food__item--secondary {
    display: flex;
    flex-direction: column;
    padding-top: 161px;
    background-image: url("../img/plus-images/plus-table.svg");
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position: top 52px center;
    background-color: $standard-white;
    border: 2px solid $card-color;

    &::after {
      display: none;
    }
  }
}
