.about-properties__title {
  margin-top: 0;
  margin-bottom: 42px;
  text-align: start;

  @media (min-width: $table-width) {
    margin-bottom: 181px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.about-properties__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $table-width) {
    display: grid;
    grid-template-columns: 230px 230px;
    row-gap: 242px;
    column-gap: 151px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: none;
    row-gap: 0;
    column-gap: 0;
  }
}

.about-properties__item {
  position: relative;
  margin-top: 26px;

  @media (min-width: $table-width) {
    margin-top: 0;

    &::before {
      position: absolute;
      counter-increment: item;
      content: "" counter(item);
      top: -145px;
      left: 30px;
      width: 280px;
      height: 280px;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      font-style: normal;
      font-weight: 400;
      line-height: 280px;
      color: $card-color;
    }

    &:nth-child(2) {
      &::before {
        top: -149px;
        left: 38px;
      }
    }

    &:nth-child(3) {
      &::before {
        top: -147px;
        left: 38px;
      }
    }

    &:nth-child(4) {
      &::before {
        top: -147px;
        left: 41px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 160px 26px 61px 0;
    width: 224px;

    &::before {
      position: absolute;
      counter-increment: item;
      content: "" counter(item);
      top: 10px;
      left: 30px;
      width: 280px;
      height: 280px;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      font-style: normal;
      font-weight: 400;
      line-height: 280px;
      color: $card-color;
    }

    &:nth-child(2) {
      &::before {
        top: 14px;
        left: 38px;
      }
    }

    &:nth-child(3) {
      &::before {
        top: 14px;
        left: 39px;
      }
    }

    &:nth-child(4) {
      padding: 160px 22px 61px 0;

      &::before {
        top: 14px;
        left: 41px;
      }
    }
  }
}

.about-properties__break-hidden {
  content: "";

  &::after {
    content: "\00a0";
  }

  @media (min-width: $table-width) {
    content: none;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    content: none;

    &::after {
      content: none;
    }
  }
}

.about-properties__card-description {
  position: relative;
  padding-left: 80px;
  margin: 0;
  word-spacing: 1px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $base-color;
  }

  &::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $table-width) {
    padding-left: 0;
    margin-top: 2px;

    &::before {
      width: 80px;
      height: 80px;
      left: 0;
      top: -69px;
    }

    &::after {
      width: 30px;
      height: 30px;
      left: 25px;
      top: -69px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;

    &::before {
      width: 80px;
      height: 80px;
      left: 0;
      top: -69px;
    }

    &::after {
      width: 30px;
      height: 30px;
      left: 25px;
      top: -69px;
    }
  }
}

.about-properties__card-description--substances {
  &::after {
    background-image: url("../img/card-about-images/card-about-leaf.svg");
  }
}

.about-properties__card-description--powder {
  &::after {
    background-image: url("../img/card-about-images/card-about-powder.svg");
  }
}

.about-properties__card-description--replace {
  &::after {
    background-image: url("../img/card-about-images/card-about-cutlery.svg");
  }
}

.about-properties__card-description--changes {
  @media (min-width: $table-width) {
    width: 290px;
  }

  &::after {
    background-image: url("../img/card-about-images/card-about-time.svg");
  }
}
