.hero {
  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &::after {
    background-color: $apple-color;
    z-index: -1;
  }

  &::before {
    background-image: url("../img/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  @media (min-width: $table-width) {
    &::after,
    &::before {
      position: static;
    }
  }

  @media (min-width: $desktop-width) {
    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 720px;
      min-height: 694px;
      top: -115px;
      left: 610px;
    }

    &::after {
      background-color: $apple-color;
      z-index: -1;
    }

    &::before {
      background-image: url("../img/index-background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -2;
    }
  }
}

.hero__title {
  color: $standard-white;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 25px;
  width: 249px;

  @media (min-width: $table-width) {
    color: $standard-black;
    text-align: start;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    width: 414px;
  }

  @media (min-width: $desktop-width) {
    max-width: 414px;
    text-align: start;
    margin-bottom: 40px;
    margin-top: 10px;
  }
}

.hero__images {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 28px;

  @media (min-width: $table-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.hero__description {
  color: $standard-white;
  font-family: "Oswald", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;

  @media (min-width: $table-width) {
    color: $standard-black;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    max-width: 346px;
    text-align: start;
    margin-bottom: 53px;
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__interective-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  height: 200px;
  background-color: transparent;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $table-width) {
    margin: 0;
    margin-left: 120px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-left: 0;
  }
}

.hero__guide-button {
  position: relative;
  display: block;
  top: 48px;
  margin: 0 20px;
  padding: 7px 44px;
  text-decoration: none;
  color: $standard-white;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $table-width) {
    position: static;
    display: inline-block;
    margin: 0;
    padding: 16px 26px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    display: inline-block;
    margin: 0;
    padding: 16px 26px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: $table-width) {
  .hero__text-wrapper {
    width: 414px;
    margin-top: 65px;
    margin-left: 90px;
  }

  .hero__images-wrapper {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 709px;
      height: 609px;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../img/hero-images-tablet.png");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .hero__images-wrapper {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 552px;
      height: 492px;
      top: -315px;
      left: 56.5%;
      background-image: url("../img/hero-images-desctop.png");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }
  }

  .hero__text-wrapper {
    width: 414px;
    margin-top: 0;
    margin-left: 0;
  }
}
