.proof__title {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: start;
}

.proof__description {
  margin-bottom: 20px;
}

.proof__food-costs {
  display: block;
  color: $standard-black;
  text-align: center;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.proof__button-slider {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 256px;
    left: 45%;
    top: 50%;
    border-radius: 2px;
    transform: translateY(-50%);
    background-color: #666666;
  }
}

.proof__slider-wrapper {
  position: relative;
  width: 320px;
  left: 50%;
  transform: translateX(-50%);
}

.proof__button-slider--positioning {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-30%) translateY(-50%);
}

@media (min-width: $table-width) {
  .proof__slider-wrapper {
    position: relative;
    width: 768px;
    height: 462px;
    margin: 0 auto;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 462px;
      background-color: #eaeaea;
      z-index: -1;
    }

    &::before {
      position: absolute;
      content: "";
      top: -160px;
      left: 50%;
      transform: translateX(-50%);
      width: 560px;
      height: 512px;
      background-image: url("../img/img-slider-1-table.png");
    }
  }

  .proof__img-slider {
    display: none;
  }

  .proof__text-wrapper {
    margin-bottom: 267px;
  }

  .proof__button-slider {
    left: 50%;
    top: 20%;

    &::before {
      height: 512px;
    }
  }
}

@media (min-width: $desctop-width) {
  .proof__text-wrapper {
    width: 436px;
    margin-bottom: 0;
  }

  .proof__slider-wrapper {
    position: relative;
    width: 560px;
    height: 512px;
    margin: 0;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 462px;
      background-color: transparent;
      z-index: -1;
    }

    &::before {
      position: absolute;
      content: "";
      top: -200px;
      left: 50%;
      transform: translateX(-50%);
      width: 560px;
      height: 512px;
      background-image: url("../img/img-slider-1-table.png");
    }
  }

  .proof__title {
    position: relative;
    top: -220px;
  }

  .proof__button-slider {
    position: relative;
    top: 50px;

    &::before {
      height: 512px;
    }
  }

  .proof__description {
    margin-bottom: 69px;
  }

  .proof__indicators-wrappper {
    display: flex;
  }

  .proof__indicators {
    display: flex;
    flex-direction: column;
    margin-right: 129px;

    &:last-child {
      margin-right: 0;
    }
  }

  .proof__food-costs {
    text-align: start;
    font-size: 20px;
    line-height: 20px;
  }

  .proof__intended-text {
    margin-left: 63px;
  }
}
