.proof__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: start;

  @media (min-width: $table-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    top: -136px;
    margin-bottom: -6px;
  }
}

.proof__description {
  margin-bottom: 20px;
  word-spacing: 1px;

  @media (min-width: $table-width) {
    word-spacing: 0.8px;
  }

  @media (min-width: $desktop-width) {
    word-spacing: 0.3px;
    width: 436px;
    margin-bottom: 68px;
  }
}

.proof__food-costs {
  display: block;
  color: $standard-black;
  text-align: center;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.proof__button-slider {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:active::before {
    background-color: #5eaa2f;
    opacity: 0.6;
  }

  &:active::after {
    background-image: url("../img/button-slider-images/button-slider-active.svg");
    opacity: 0.6;
  }

  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-image: url("../img/button-slider-images/slider-button.svg");
    background-repeat: no-repeat;
  }

  &::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 256px;
    left: 50%;
    top: 50%;
    border-radius: 2px;
    transform: translateY(-50%) translateX(-50%);
    background-color: $dim-gray;
    z-index: -30;
  }

  &--positioning {
    position: absolute;
    left: 53%;
    top: 49%;
    transform: translateX(-30%) translateY(-50%);
  }


  @media (min-width: $table-width) {
    left: 50%;
    top: 20%;

    &:hover::before {
      background-color: $base-color;
    }

    &:hover::after {
      background-image: url("../img/button-slider-images/button-slider-hover.svg");
    }

    &:focus-visible::after {
      outline: 2px solid $standard-black;
    }

    &:active::before {
      background-color: #5eaa2f;
      opacity: 0.6;
    }

    &:active::after {
      background-image: url("../img/button-slider-images/button-slider-active.svg");
      opacity: 0.6;
    }

    &::before {
      height: 512px;
    }

    &--positioning {
      position: absolute;
      left: 49.7%;
      top: 22.7%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 250px;
    left: 65%;

    &:hover::before {
      background-color: $base-color;
    }

    &:hover::after {
      background-image: url("../img/button-slider-images/button-slider-hover.svg");
    }

    &:focus-visible::after {
      outline: 2px solid $standard-black;
    }

    &:active::before {
      background-color: #5eaa2f;
      opacity: 0.6;
    }

    &:active::after {
      background-image: url("../img/button-slider-images/button-slider-active.svg");
      opacity: 0.6;
    }

    &::before {
      height: 512px;
    }

    &--positioning {
      position: absolute;
      left: 69%;
      top: 56%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.proof__indicators-wrappper {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  grid-column-gap: 32px;
  align-items: center;

  @media (min-width: $table-width) {
    display: grid;
    grid-template-columns: repeat(2, 177px);
    grid-column-gap: 27px;
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 41px;
  }
}

.proof__indicators-container {
  @media (min-width: $table-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.proof__indicators {
  display: flex;
  flex-direction: column;


  &--prime {
    padding: 0 20px;
    padding-top: 14.5px;
    max-width: 124px;
    min-height: 56px;
    position: relative;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='124' height='56' viewBox='0 0 124 56' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 1H121C122.105 1 123 1.89543 123 3V53C123 54.1046 122.105 55 121 55H105V56H121C122.657 56 124 54.6569 124 53V3C124 1.34315 122.657 0 121 0H3C1.34315 0 0 1.34314 0 3V53C0 54.6569 1.34314 56 3 56H18V55H3C1.89543 55 1 54.1046 1 53V3C1 1.89543 1.89543 1 3 1Z' fill='%23CDCDCD'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
  }

  &--secondary {
    padding: 0 20px;
    padding-top: 14.5px;
    max-width: 124px;
    min-height: 56px;
    position: relative;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='124' height='56' viewBox='0 0 124 56' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 1H121C122.105 1 123 1.89543 123 3V53C123 54.1046 122.105 55 121 55H105V56H121C122.657 56 124 54.6569 124 53V3C124 1.34315 122.657 0 121 0H3C1.34315 0 0 1.34314 0 3V53C0 54.6569 1.34314 56 3 56H18V55H3C1.89543 55 1 54.1046 1 53V3C1 1.89543 1.89543 1 3 1Z' fill='%23CDCDCD'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $table-width) {
    font-size: 30px;
    line-height: 37px;

    &--prime {

      padding-left: 22px;
      padding-right: 34px;
      position: relative;
      padding-top: 15px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='162' height='72' viewBox='0 0 162 72' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 1H159C160.105 1 161 1.89543 161 3V69C161 70.1046 160.105 71 159 71H138V72H159C160.657 72 162 70.6569 162 69V3C162 1.34315 160.657 0 159 0H3C1.34315 0 0 1.34315 0 3V69C0 70.6569 1.34314 72 3 72H24V71H3C1.89543 71 1 70.1046 1 69V3C1 1.89543 1.89543 1 3 1Z' fill='%23CDCDCD'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      min-width: 120px;
      min-height: 72px;
    }

    &--secondary {
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      padding-top: 15px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='162' height='72' viewBox='0 0 162 72' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 1H159C160.105 1 161 1.89543 161 3V69C161 70.1046 160.105 71 159 71H152V72H159C160.657 72 162 70.6569 162 69V3C162 1.34315 160.657 0 159 0H3C1.34315 0 0 1.34315 0 3V69C0 70.6569 1.34314 72 3 72H10V71H3C1.89543 71 1 70.1046 1 69V3C1 1.89543 1.89543 1 3 1Z' fill='%23CDCDCD'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      min-width: 142px;
      min-height: 72px;
    }
  }

  @media (min-width: $desktop-width) {
    column-gap: 100px;

    &--prime {
      padding-left: 24px;
      padding-right: 24px;
      position: relative;
      padding-top: 15px;
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' width='162' height='72' viewBox='0 0 162 72' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 1H159C160.105 1 161 1.89543 161 3V69C161 70.1046 160.105 71 159 71H138V72H159C160.657 72 162 70.6569 162 69V3C162 1.34315 160.657 0 159 0H3C1.34315 0 0 1.34315 0 3V69C0 70.6569 1.34314 72 3 72H24V71H3C1.89543 71 1 70.1046 1 69V3C1 1.89543 1.89543 1 3 1Z' fill='%23CDCDCD'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      min-width: 114px;
      min-height: 72px;
    }

    &--secondary {
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      padding-top: 15px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='162' height='72' viewBox='0 0 162 72' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M159 1H3C1.89543 1 1 1.89543 1 3V69C1 70.1046 1.89543 71 3 71H10V72H3C1.34314 72 0 70.6569 0 69V3C0 1.34315 1.34315 0 3 0H159C160.657 0 162 1.34315 162 3V69C162 70.6569 160.657 72 159 72H152V71H159C160.105 71 161 70.1046 161 69V3C161 1.89543 160.105 1 159 1Z' fill='%23CDCDCD'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      min-width: 142px;
      min-height: 72px;
    }
  }
}

.proof__indicators-name {
  width: 70px;
  text-transform: lowercase;

  &--prime {
    position: relative;
    left: 50%;
    transform: translateX(-51%);
    top: 8px;
  }

  &--secondary {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
  }

  @media (min-width: $table-width) {
    width: 98px;
    font-size: 14px;
    line-height: 14px;

    &--prime {
      position: relative;
      left: 49%;
      transform: translateX(-50%);
      top: 12px;
    }

    &--secondary {
      width: 124px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 98px;
    text-transform: lowercase;

    &--prime {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 12px;
    }

    &--secondary {
      width: 125px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 12px;
    }
  }
}

.proof__slider-wrapper {
  position: relative;
  width: 280px;
  left: 46%;
  transform: translateX(-50%);

  @media (min-width: $table-width) {
    position: relative;
    width: 768px;
    height: 462px;
    margin: 0 auto;
    left: 50%;

    &::after {
      position: absolute;
      content: "";
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      height: 462px;
      background-color: #eaeaea;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 400px;
    top: -140px;
    left: 35%;
    min-height: 462px;
    margin: 0;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 462px;
      background-color: transparent;
      z-index: -1;
    }
  }
}

.proof__img-slider {
  padding-left: 10px;
}

@media (min-width: $table-width) {
  .proof__img-slider {
    position: absolute;
    width: 560px;
    height: 512px;
    left: 49.5%;
    top: 50.5%;
    transform: translateX(-50%) translateY(-75%);
  }

  .proof__text-wrapper {
    margin-bottom: 240px;
  }

  .proof__food-costs {
    position: relative;
    top: 5px;
    left: -4px;
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .proof__intended-text {
    position: relative;
    top: 9px;
    left: 1px;
  }
}

@media (min-width: $desktop-width) {
  .proof__img-slider {
    position: absolute;
    width: 560px;
    height: 512px;
    left: 68%;
    top: 56%;
    transform: translateX(-50%) translateY(-50%);
  }

  .proof__text-wrapper {
    width: 436px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .proof__indicators-wrappper {
    display: flex;
  }

  .proof__food-costs {
    position: relative;
    top: 25px;
    left: 1px;
    text-align: start;
    display: block;
    font-size: 20px;
    line-height: 20px;
  }

  .proof__intended-text {
    margin-left: 63px;
    position: relative;
    top: 0;
    left: -1px;
  }
}
